<%- include("partials/header.ejs") %>
    <main>
        <div class="myContainer">
            <div class="sidebar">
                <ul>
                    <% if (locals.posts){posts.forEach(element=> { %>
                        <li><a href="/post?<%= element %>">
                                <%= element %>
                            </a></li>
                        <% })} %>
                </ul>
            </div>
            <% randomPosts.forEach(element=> { %>
                <% if (element) { %>
                    <div class="card post number1">
                        <h5 class="card-title m-3">
                            <%=element.name%>
                        </h5>
                        <div class="card-body">
                            <%=element.data%>
                        </div>
                        <a class="btn mb-3 " href="/post?<%= element.name%>">Read full post</a>
                    </div>
                    <% } %>
                        <% }) %>

        </div>
    </main>
    <%- include("partials/footer.ejs") %>