<%- include("partials/header.ejs") %>
    <main>
        <div>
            <% if (locals.postName && locals.postText) { %>
                <form class="form-container" action="/save" method="POST">
                    <input type="text" name="postEditedTitle" value="<%= postName %>">
                    <input type="hidden" name="_METHOD" value="PUT" />
                    <input type="hidden" name="_title" value="<%= postName %>">
                    <input type="hidden" name="_postText" value="<%= postText %>">
                    <textarea name="postEditedText" id="postEditedText" rows="20">
                        <%= postText %>
                    </textarea>
                    <button> Post!</button>
                </form>
                <% }else{%>
                    <form class="form-container" action="/save" method="POST">
                        <input type="hidden" name="_METHOD" value="POST" />
                        <input type="text" name="title" placeholder="New post name...">
                        <textarea name="postText" id="postText" rows="20"></textarea>
                        <button> Post!</button>
                    </form>
                    <% } %>
        </div>
    </main>

    <%- include("partials/footer.ejs") %>